<?xml version="1.0"?>
<!--
Copyright (C) 2017 primathon

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      primathon
@copyright   2017 primathon
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mwarrior_checkout>
                <model>Primathonpay\MWarrior\Model\Method\Checkout</model>
                <title>mwarrior Checkout</title>
                <active>0</active>
                <order_status>payment_review</order_status>
                <transaction_type>payment</transaction_type>
                <merchant_id />
                <api_key />
                <api_passphrase />
                <domain_checkout />
                <domain_gateway />
                <can_review_payment>1</can_review_payment>
                <min_order_total>0.01</min_order_total>
                <enable_logging>0</enable_logging>
                <process_manually>1</process_manually>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <group>mwarrior</group>
            </mwarrior_checkout>
        </payment>
    </default>
</config>
